<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div id="iPhone_13_14_2">
    <div id="Rectangle_5" class="pointer-events-none">
    </div>
    <span id="_41_82" class="pointer-events-none"><span id="__0">КешСлед</span></span>
    <div id="Frame_9">
        <span id="_41_159" class="pointer-events-none"><span id="__1">Привет, друг! </span></span>
        <div id="Frame_7" class="pointer-events-none">
        </div>
        <div id="Frame_8" class="pointer-events-none">
        </div>
        <label for="login">Логин</label>
        <input type="text" id="login" name="login" placeholder="Введите логин">

        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" placeholder="Введите пароль">

        <a href="/main/" id="Frame_8_0">
            <span id="_41_172" class="pointer-events-none"><span id="__4">Войти</span></span>
        </a>
    </div>
</div>
</body>
</html>